@keyframes wwd_animation{
    0%   {background-color:white;color: black;}
    100% {background-color: #071629;color: white;opacity: 1;}
}

.cards:hover{
    width: auto;
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-radius: 20%;
    animation-name: wwd_animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes os_animation{
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.per_cards:hover{
    animation-name: os_animation;
    animation-duration: 2s;
}