:root{
    --primary-font: 'Source Sans Pro', sans-serif;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 30px;
    font-size: 12px;
    font-family: var(--primary-font);
}
.landing_page{
    background-image:url(images/CSS\ Advanced/Object.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
}
/* get_schooled section with bottom content*/
.get_schooled{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}
.get_schooled h1{
    font-size: 120px;
    font-weight: bold;
    color: white;
    font-family:var(--primary-font);
}
.get_schooled span{
    color: white;
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    justify-content: center;
    font-family: var(--primary-font);
    font-size: 16px;
}

.get_schooled button{
    margin: 30px;
    width: 162px;
    height: 44px;
    border-radius: 22px;
    border-style: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    background-color: #C271FF;
    color: white;
    font-size: 14px;
    font-family: var(--primary-font);
}

.learn_from_experts h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: var(--primary-font);
    font-size: 32px;
    font-weight: 100;
    color: white;
}
/*expert section*/
.experts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px 0 0 0;
}

.expert {
    display: flex;
    flex-direction: column; 
    align-items: center;     
    margin: 0 70px;
    transform: scale(0.8);     
}    

.experts_detail {
    font-family: var(--primary-font);
    color: white;
    text-align: center;
    margin: 20px;   
    padding-bottom: 0%;
}
.experts_detail h3{
    font-weight: bold;
}

/*peron name */
.personname{
    height: 392px;
    width: 100%;
    background-color: #C271FF;
}

.person{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 110px 0 100px 0;
}

.person_detail{
    color: white;
    font-family: var(--primary-font);
    font-size: 22px;
    margin-left: 50px;
}

/*Tutorials section*/
.tutorials{
    display: flex;
    flex-direction: row;
    align-items:flex-start ;
    justify-content: flex-start;
    transform: scale(0.8);
}

.tutorial_cards{
    padding: 0px 10px;
}


/*overlay image*/
.image_container{
    position: relative;
    display: inline-block;
}
.background_image{
    display: block;
    width: 100%;
    height: auto;
}

.overlay_image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 50px;
}

.tutorial_detail{
    font-family: var(--primary-font);
    margin: 20px 0 10px;
    width: 100%;
    text-align: start;
}
.tutorial_detail h3{
    font-weight: bold;
    padding: 20px;
    font-family: var(--primary-font);
}
.Phillip img{
    width: 40px;
    height: auto;
    margin-right: 5px;
}
.Phillip{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.Phillip h4{
    font-size: 14px;
    width: 150px;
    height: auto;
    font-family: var(--primary-font);
    color: #C271FF;
    text-align: center;
    font-weight: 600;
}
/*rating*/
.rating img{
    width: 150px;
    height: 20px;
    margin-top: 10px;
}
.rating p{
    font-family: var(--primary-font);
    color: #C271FF;
    font-weight: 600;
    margin-right:20px;
}
.rating{
    display: flex;  
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
