:root{
    --primary-font: 'Source Sans Pro';
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 30px;
    font-size: 12px;
    font-family: var(--primary-font);
}
.landing_page{
    background-image:url(images/CSS\ Advanced/Object.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
}
.get_schooled{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}
.get_schooled h1{
    font-size: 120px;
    font-weight: bold;
    color: white;
    font-family:var(--primary-font);
}
.get_schooled span{
    color: white;
    display: flex;
    flex-direction: row;
    padding: 15px 30px;
    justify-content: center;
    font-family: var(--primary-font);
}