nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 12;
}
.landing_page{
    background-image:url(images/CSS\ Advanced/Object.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
}